
/* Your CSS Code here. */
.moviePic{
  display: block;
  margin: auto;
  width: 50%;
	height: auto;
	opacity:10px;
 
}
.movieDetail{
  width: 50%;
  font-size: large;
	display: block;
	margin:auto;
	position:auto;
	text-align:none;
	top:50px;
}